.area-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  margin-top: 3rem;
  margin-bottom: 36px;
}

.area-item {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background: #fff;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.area-icon {
  width: 65px;
  height: 65px;
}

.area-icon-wrapper {
  img {
    width: 65px;
    height: 65px;
    min-width: 65px;
    min-height: 65px;
  }
}
// }

.area-title {
  font-weight: 400;
}

.area-add {
  width: 100%;
  background: var(--color-secondary);
  border-radius: 20px;
  padding: 48px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
