.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  gap: 2rem;
}
.contact-text {
  display: flex;
  width: auto;
  flex-direction: column;
  background-image: url("/images/background/contact-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 20px;
  flex: 1;
  .standard-content {
    display: flex;
    flex-direction: column;
    margin-bottom: unset;
    .text-standard {
      margin-left: unset;
      width: 80%;
      margin-bottom: 32px;
    }
    .standard-title {
      font-size: 2rem;
      line-height: 2rem;
      width: 350px;
      margin-bottom: 24px;
    }
  }
  .social-wrapper {
    display: flex;
  }
  .socialLinks {
    display: flex;
    gap: 8px;
    margin-right: 24px;

    img {
      width: 46px;
      height: 46px;
    }
  }
  .phone-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .phone-number {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--color-textPrimary);
      text-decoration: none;
    }
    p {
      font-size: 10px;
      color: var(--color-textSecondary);
      margin: 0;
    }
  }
}

@media (max-width: 900px) {
  .contact-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.contact-section {
  .contact-wrapper {
    background-color: var(--color-secondary);
    padding: 2rem;
    border-radius: 20px;
  }
  .contact-text {
    background: none;
  }
  .section-title {
    color: #fff;
  }
  .standard-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // width: 40%;
    flex: 1;
    .contact-link {
      color: #fff;
      font-size: 1.5rem;
      line-height: normal;
      font-weight: 600;
      margin-bottom: 16px;
      display: block;
    }
    .social-links {
      display: flex;
      gap: 8px;
    }
  }
}

@media (max-width: 900px) {
  .contact-section {
    .contact-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .standard-content {
      width: 100%;
    }
    // .contact-link {
    //   margin-bottom: 16px;
    //   display: block;
    // }
  }
}
