body {
  font-family: $font-main;
  background-color: $neutral;
  color: $text-primary;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  margin: 0;
}
