@use "@/app/styles" as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.contactForm {
  position: relative;
  background: var(--color-secondary);
  padding: 2rem;
  border-radius: 20px;
  color: #fff;

  width: 550px;
  max-width: 550px;
  min-width: 400px;

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &::before {
    content: "";
    position: absolute;
    top: -10px; /* трохи вище форми */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 120px;
    background-image: url("/images/background/form-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: none; /* щоб не блокував кліки */
    // z-index: 102;
    border-radius: 20px;
  }

  > * {
    position: relative;
    z-index: 2; /* щоб контент був поверх */
  }
}

.contactForm__body {
  width: 100%;
}
.contactForm__group {
  display: flex;
  gap: 8px;
  @media (max-width: 478px) {
    flex-direction: column;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contactForm__close {
  position: absolute;
  top: 0;
  right: 1rem;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 4rem;
  font-weight: 100;
  cursor: pointer;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-textSecondary);
  }
}

.contactForm__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  text-align: left;
}

.contactForm__checkbox {
  display: flex;
  align-items: flex-start;
  font-size: 0.8rem;
  gap: 0.5rem;
  margin: 0.5rem 0 1.5rem 0;

  input {
    margin-top: 0.2rem;
  }

  a {
    color: #fff;
    text-decoration: underline;
    transition: color 0.3s ease;

    &:hover {
      color: var(--color-textSecondary);
    }
  }
}

.contactForm__submit {
  width: 60%;
  background: #fff;
  color: var(--color-secondary);
  border: none;
  border-radius: 50px;
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #eaeaea;
    transform: translateY(-1px);
  }
  @media (max-width: 478px) {
    width: 100%;
  }
}

.contactForm__success {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #fff;
}

.phoneWrapper {
  width: 50%;
  @media (max-width: 478px) {
    width: 100%;
  }
}

.contactForm__input {
  width: 50%;
  padding: 0.9rem 1rem;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 0.95rem;
  outline: none;
  margin-bottom: 0.9rem;
  transition: background 0.3s ease;
  height: 45px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  &:focus {
    background: rgba(255, 255, 255, 0.3);
  }

  @media (max-width: 478px) {
    width: 100%;
  }
}

.contactForm__textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 0.95rem;
  outline: none;
  resize: none;
  margin-bottom: 1rem;
  transition: background 0.3s ease;

  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  &:focus {
    background: rgba(255, 255, 255, 0.3);
  }
}

// стилі для кастомного фону
.customBg {
  background: var(--color-accent);
}

:global(.react-tel-input .form-control) {
  background: rgba(255, 255, 255, 0.2) !important;
  color: #fff !important;
  border: none !important;
  border-radius: 8px !important;
  width: 100%;
  padding: 0.9rem 1rem 0.9rem 3rem !important;
  font-size: 0.95rem !important;
  outline: none !important;
  margin-bottom: 0.9rem !important;
  transition: background 0.3s ease;
  height: 45px;
  &::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }

  &:focus {
    background: rgba(255, 255, 255, 0.3);
  }
}
:global(.flag-dropdown) {
  height: 45px !important;
  background: none !important;
  border: none !important;
}

:global(.react-tel-input .selected-flag) {
  padding: 0 0 0 1rem !important;
  background: none !important;
}

:global(.country-list .country) {
  color: #000 !important;
  display: flex !important;
  align-items: center !important;
}
:global(.dial-code) {
  margin-left: auto !important;
}
